<html layout:decorate="layouts/defaultTemplate" xmlns:th="http://www.thymeleaf.org">
<!-- 
1. Insert title
2. Insert table for orders
3. Add to defaultLayout

 -->
<div layout:fragment="content" class="container-xl">

	<h2 th:text="${title}"></h2>
	<h2 th:text=${searchOrdersModel.searchTerm}></h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">OrderNo</th>
				<th scope="col">Name</th>
				<th scope="col">Price</th>
				<th scope="col">Qty</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="order : ${orders}">

				<td th:text="${order.id}"></td>
				<td th:text="${order.orderNo}"></td>
				<td th:text="${order.productName}"></td>
				<td th:text="${order.price}"></td>
			</tr>

		</tbody>
	</table>
</div>